body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    
}

.contact-details{
    height: 11.5px;
    background-color: #F5A623;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.number{
    position: relative;
    top: -7px;
    font-size: 7.8px;
    color: #000;
}

.call{
    height: 12px;
    position: relative;
    bottom: 3.2px;
}

.logo{
    height: 4rem;
    width: 4.2rem;
    padding: 10px;
    border-radius: 50%;
    float: left;
}

.navbar{
    position: sticky;
    top: 0;
    background: linear-gradient(180deg, #000,rgb(58,56,56));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
    z-index: 10;
}

.navbar .a{
    float: left;
    color: white;
    text-align: center;
    padding: 1rem 1.5rem;
    text-decoration: none;
    position: relative;
}

.navbar a:hover{
    border-radius: 10px;
}

.name{
    display: flex;
    align-items: center;
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn{
    font-size: 1rem;
    border: none;
    outline: none;
    color: #fff;
    background-color: inherit;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    }

.dropdown-content a{
    float: none;
    color: black;
    padding: 0.8rem 1rem;
    display: block;
    text-align: left;
    text-decoration: none;
    border-radius: 0px;
}

.dropdown-content a:hover{
    background-color: #ddd;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.btn{
    font-size: 1rem;
    padding: 1rem 1rem;
    background-color: #000;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 6.2rem;
    margin-left: 15px;
}

.btn:hover{
    color: rgb(11, 229, 11);
    text-decoration: underline rgb(11,229,11);
}

.nav-last{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.img{
    margin-left: 15px;
}

.img:hover{
    background-color: #232323;
    transform: scale(1.08);
    border-radius: 50%;
}

.button{
    margin-right: 20px;
}

@media(min-width:400px)and(max-width:2000px){
    .nav-last{opacity: 0;}
}

.main-content{
    background-color: #fff;
}

.content{
    height: 490px;
    margin: 0;
    /* background-image: url(./images/pr4); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: changeBg 20s infinite;
}

.uni{
    display: flex;
}

@keyframes changeBg {
    0%   {background-image: url(./images/a1.jpg);}
    25%  {background-image: url(./images/a2.jpg);}
    50%  {background-image: url(./images/a3.jpeg);}
    75%  {background-image: url(./images/a4.jpg);}
    100% {background-image: url(./images/a5.jpg);}
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uni-name{
    background-color:rgba(10, 10, 10, 0.35);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90px;
    margin : 10px 0px 0px 55.7rem;
    border: 1px solid white;
}

.para{
    color: #fff;
    font-size: xx-large;
    font-weight: 700;
    height: 25px;
    text-decoration: underline 5px;
    margin-right: 10px;
    padding: 0px 0px 15px 0px;
}

.logos{
    height: 4.5rem ;
    width: 4.5rem;
    border-radius: 50%;
    margin: 0px 20px 0px 10px;
}

.quote{
    margin: 60px;
    width: 350px;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin-left: 450px;
    border: 3px solid white;
}

.quote-p{
    margin: 10px 0px 0px 0px;
    font-weight: 900;
    color: #fff;
}

.details{
    padding: 20px;
    margin: 0px 0px 25px 0px;
}

.depart{
    color: #000;
    font-size: 35px;
    display: flex;
    justify-content: center;
}

#pets{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media (max-width:375px){
    #pets{flex-wrap: wrap;}
}

.a1card{
    width: 285px;
    height: 375px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    margin-top: 30px;
    background-color: white;
    color: #000;
}

.a1card:hover{
    transform: scale(1.0);
    box-shadow: 10px 10px 50px  black;
}

.incard{
    font-size: 14px;
    opacity: 0.5;
    text-decoration: none;
    color: #000;
}

.incard:hover{
    opacity: 1;
    text-decoration: underline #000;
}

.achieve{
    height: 250px;
    width: 250px;
    border: 2px solid black;
    border-radius: 50%;
}

.achieve:hover{
    box-shadow: 2px 10px 10px black;
    transform: scale(1.01);
}

.achievement{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.style{
    margin-top: 20px;
}

h2{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
}

.dog{
    height: 185px;
    width: 284px;
}

.latest-events{
    padding: 20px;
}

.hostel-facility{
    padding: 20px;
}

.hostel-facility {
  background-color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.logo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.logo-grid:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.logo-grid img {
  width: 120px;
  height: 60px;
  object-fit: contain;
  transition: transform 0.3s;
}

.logo-grid img:hover {
  transform: scale(1.2);
}

.btng {
  margin-top: 30px;
  background-color: #005fa3;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 30px;

}

.btng:hover {
  background-color: #0077cc;
}























.footer {
  background: #0b2447;
  padding: 50px 60px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.footer-col h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 700;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin: 6px 0;
  font-size: 14px;
  color: #dcdcdc;
  cursor: pointer;
}

.footer-col ul li:hover {
  color: #f4b400;
}

.footer-col p {
  font-size: 14px;
  margin: 8px 0;
  color: #dcdcdc;
}

.footer-col i {
  color: #f4b400;
  margin-right: 10px;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin: 10px 0 20px;
}

.social-icons a {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1d2d50;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s;
}

.social-icons a:hover {
  background: #f4b400;
  color: #0b2447;
}

.contact h3 {
  margin-top: 15px;
  font-size: 16px;
}

h3{
    margin-left: 39px;
}





